<div class="event">

	<div class="event-left">
		<img src="/assets/img/events/2015/test-event.jpg" alt="" class="event-img">
	</div>

	<div class="event-right">
		<h3 class="event-heading">
			{{ post.title }}
		</h3>

		<p class="text">
			{{ post.summary }}
		</p>

		<div class="e-info">
			<div class="e-info-left">
				<div class="e-info-row">
					<div class="e-info-icon">
						{% include graphics.html width="14" height="14" name="clock" %}
					</div>
					<p class="e-info-txt">
						{{ post.date }}
					</p>
				</div>

				<div class="e-info-row">
					<div class="e-info-icon">
						{% include graphics.html width="14" height="14" name="location" %}
					</div>
					<p class="e-info-txt">
						{{ post.location }}
					</p>
				</div>
			</div>

			{% if post.is_past %}
      <a href="{{ post.url }}" class="e-info-btn e-info-btn-past">Прочети повече</a>
      {% else %}
      <a href="{{ post.url }}" class="e-info-btn">Прочети повече</a>
      {% endif %}
		</div>
	</div>

</div>
