
<header class="header">

  <div class="header-topline"></div>

  <div class="container">

    <div class="header-logo">
      {% include graphics.html width="173" height="60" name="logo" %}
    </div>

    <div class="header-nav">
      <ul class="header-nav-list">

        <li class="h-nav-block">
          <a href="/" class="h-nav-link">За нас</a>
        </li>

        <li class="h-nav-block">
          <a href="#" class="h-nav-link">Събития</a>
        </li>

        <li class="h-nav-block">
          <a href="#" class="h-nav-link">Включи се</a>
        </li>

        <li class="h-nav-block">
          <a href="#" class="h-nav-link">Партньори</a>
        </li>

        <li class="h-nav-block h-nav-block-last">
          <a href="#" class="h-nav-link">Контакти</a>
        </li>

      </ul>
    </div>

  </div>

</header>
