body {
  background-color: $swatch-01;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 1.28;
  color: $swatch-06;
}

ul {
  margin: 0;
  padding: 0;
}


h1 {
  font-family: 'Bebas Book', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  color: $swatch-05;
}
