* {
  box-sizing: border-box;
}

html {
  font-size: $font-size;
}

body {
  background-color: $color-02;
  font-family: "Fira Sans", sans-serif;
}

html, body {
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-green;

  &:hover {
    color: lighten($color-green, 8%);
    text-decoration: underline;
  }
}
