.menu {

  &--header {
    @include span(5 of 12 at 4);
    text-align: right;
  }
}

.menu__list {
  @include clearfix;
  display: inline-block;
  margin-top: 67px;
}

.menu__item {
  list-style: none;
  float: left;
  margin-left: 25px;
}

.menu__btn {
  font-family: 'Bebas Regular';
  font-size: 24px;
  color: $swatch-03;
  text-decoration: none;

  &:hover {
    color: $swatch-04;
  }

  &--active {
    color: $swatch-04;
    border-bottom: 2px solid $swatch-03;
  }
}
