
// Settings
// --------
$font-size: 16px;


// Colors
// ------


// Mixins and Functions
// --------------------
@mixin clearfix {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}
// Strip the units from a value
// ----------------------------
@function strip-units($value) {
	@return $value / ($value * 0 + 1);
}

// Calculate rems from a px value
// ------------------------------
@function rem-calc($px, $base-val: $font-size) {
	@if not unitless($px) {
		$px: strip-units($px);
	}
	@if not unitless($base-val) {
		$base-val: strip-units($base-val);
	}
	@return ($px / $base-val) * 1rem;
}

@import
  "../../../vendor/_bower_components/modularized-normalize-scss/normalize",
  "base",
  "pygments-github";
