---
layout: default
---


<h1>
  Настоящи партньори
</h1>

<div class="partners">
  <ul class="partners-grid">

    {% include partners-item.html filename="test-logo" %}
    {% include partners-item.html filename="test-logo" %}
    {% include partners-item.html filename="test-logo" %}
    {% include partners-item.html filename="test-logo" %}
    {% include partners-item.html filename="test-logo" %}
    {% include partners-item.html filename="test-logo" %}
    {% include partners-item.html filename="test-logo" %}
    {% include partners-item.html filename="test-logo" %}

  </ul>
</div>

<h1>
  Минали партньори
</h1>

<div class="partners">
  <ul class="partners-grid">

    {% include partners-item.html filename="test-logo" %}
    {% include partners-item.html filename="test-logo" %}
    {% include partners-item.html filename="test-logo" %}
    {% include partners-item.html filename="test-logo" %}
    {% include partners-item.html filename="test-logo" %}
    {% include partners-item.html filename="test-logo" %}
    {% include partners-item.html filename="test-logo" %}
    {% include partners-item.html filename="test-logo" %}

  </ul>
</div>
