---
layout: default
---


<h1>
  За Връзка с нас
</h1>

<div class="social-address">
  <div class="social-address-icon">
    {% include graphics.html width="18" height="18" name="location" %}
  </div>

  <h2 class="social-address-heading">
    Неправителствена организация “заралаб”
    <br>
    бул. “Княз Александър Батенберг” 24
  </h2>
</div>

<h3>
  Some Heading
</h3>

<p class="text">
  The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.
</p>
<ul class="text-list">

  <li class="text-list-item">
    <span>Email:</span>
    <a href="#">info@zaralab.org</a>

  </li>
  <li class="text-list-item">
    <span>Email:</span>
    <a href="#">etc..@zaralab.org</a>
  </li>

</ul>

<div class="social">
  <ul class="social-grid">

    <li class="s-item">
      <a href="#" class="s-item-link">
        {% include graphics.html width="60" height="60" name="facebook" %}
      </a>
    </li>

    <li class="s-item">
      <a href="#" class="s-item-link">
        {% include graphics.html width="60" height="60" name="twitter" %}
      </a>
    </li>

  </ul>
</div>
